<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>role</key>
            <string>admin</string>
            <key>kehudangan</key>
            <string>F</string>
            <key>kehulianxiren</key>
            <string>F</string>
            <key>baifangjilu</key>
            <string>F</string>
            <key>xiaoshoujihui</key>
            <string>F</string>
            <key>xiaoshouxiansuo</key>
            <string>F</string>
            <key>baifangjihua</key>
            <string>F</string>
            <key>huodongtongji</key>
            <string>F</string>
            <key>gongzuobaogao</key>
            <string>F</string>
            <key>renwutijiao</key>
            <string>F</string>
            <key>renwushenhe</key>
            <string>F</string>
            <key>renwugenzong</key>
            <string>F</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2014122200001</string><!--客户信息管理专员-->
            <key>kehudangan</key><!--客户档案-->
            <string>BE</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>BE</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>B</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>BE</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>BE</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>B</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>B</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>B</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>B</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2015021000001</string><!--集团领导-->
            <key>kehudangan</key><!--客户档案-->
            <string>B</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>B</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>B</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>B</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>B</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>B</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>N</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>N</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>N</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2015021000008</string><!--营销副总裁-->
            <key>kehudangan</key><!--客户档案-->
            <string>F</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>F</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>F</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>F</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>F</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>F</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>F</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>B</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>F</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2015021000009</string><!--营销中心总监-->
            <key>kehudangan</key><!--客户档案-->
            <string>F</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>F</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>F</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>F</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>F</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>F</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>F</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>B</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>F</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2015021000011</string><!--营销经理-->
            <key>kehudangan</key><!--客户档案-->
            <string>F</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>F</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>F</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>F</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>F</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>F</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>F</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>B</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>F</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2015021500001</string><!--人力考核专员-->
            <key>kehudangan</key><!--客户档案-->
            <string>N</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>N</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>B</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>N</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>N</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>B</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>N</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>N</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>N</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2015030900022</string><!--职能部门负责人-->
            <key>kehudangan</key><!--客户档案-->
            <string>N</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>N</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>B</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>N</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>N</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>B</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>N</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>N</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>N</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2015021600018</string><!--营销总部负责人-->
            <key>kehudangan</key><!--客户档案-->
            <string>B</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>B</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>BE</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>B</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>B</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>BE</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>F</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>F</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>F</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2015030900001</string><!--项目管理员-->
            <key>kehudangan</key><!--客户档案-->
            <string>N</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>N</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>N</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>N</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>N</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>N</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>F</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>F</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>F</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2015030900023</string><!--业务协调员-->
            <key>kehudangan</key><!--客户档案-->
            <string>N</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>N</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>N</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>N</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>N</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>N</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>N</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>N</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>N</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2015031000001</string><!--系统管理员-->
            <key>kehudangan</key><!--客户档案-->
            <string>N</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>N</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>N</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>N</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>N</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>N</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>N</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>N</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>N</string>
        </dict>
        
        <dict>
            <key>role</key>
            <string>ROLE_2015031000001</string><!--系统监管员-->
            <key>kehudangan</key><!--客户档案-->
            <string>BE</string>
            <key>kehulianxiren</key><!--客户联系人-->
            <string>BDE</string>
            <key>baifangjilu</key><!--拜访记录-->
            <string>BD</string>
            <key>xiaoshoujihui</key><!--销售机会-->
            <string>BDE</string>
            <key>gongzuobaogao</key><!--工作报告-->
            <string>F</string>
            <key>xiaoshouxiansuo</key><!--销售线索-->
            <string>BDE</string>
            <key>baifangjihua</key><!--拜访计划-->
            <string>BD</string>
            <key>huodongtongji</key><!--活动统计-->
            <string>B</string>
            <key>renwutijiao</key><!--任务提交-->
            <string>N</string>
            <key>renwushenhe</key><!--任务审核-->
            <string>N</string>
            <key>renwugenzong</key><!--任务跟踪-->
            <string>N</string>
        </dict>
    </array>
</plist>






