<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>Name</key>
            <string>联系我们</string>
            <key>Image</key>
            <string>set-1.png</string>
            <key>WebSite</key>
            <string>http://weibo.com/iapps</string>
            <key>Category</key>
            <string>苹果咨询</string>
            <key>Favorite</key>
            <real>3.5</real>
            <key>index</key>
            <string>1</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>退出登录</string>
            <key>Image</key>
            <string>set-2.png</string>
            <key>WebSite</key>
            <string>http://weibo.com/appleus</string>
            <key>Favorite</key>
            <real>3.5</real>
            <key>Category</key>
            <string>苹果咨询</string>
            <key>index</key>
            <string>2</string>
        </dict>
        <dict>
            <key>Name</key>
            <string>清除缓存</string>
            <key>Image</key>
            <string>set-3.png</string>
            <key>WebSite</key>
            <string>http://weibo.com/gx110</string>
            <key>Favorite</key>
            <real>3.5</real>
            <key>Category</key>
            <string>苹果咨询</string>
            <key>index</key>
            <string>3</string>
        </dict>
 </array>
</plist>
