<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <array>
            <dict>
                <key>Name</key>
                <string>工作报告</string>
                <key>Image</key>
                <string>home-black.png</string>
                <key>WebSite</key>
                <string>http://weibo.com/iapps</string>
                <key>Category</key>
                <string>苹果咨询</string>
                <key>Favorite</key>
                <real>3.5</real>
                <key>index</key>
                <string>1</string>
                <key>authorityname</key>
                <string>gongzuobaogao</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>任务提交</string>
                <key>Image</key>
                <string>home-black.png</string>
                <key>WebSite</key>
                <string>http://weibo.com/appleus</string>
                <key>Favorite</key>
                <real>3.5</real>
                <key>Category</key>
                <string>苹果咨询</string>
                <key>index</key>
                <string>2</string>
                <key>authorityname</key>
                <string>renwutijiao</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>任务审核</string>
                <key>Image</key>
                <string>home-black.png</string>
                <key>WebSite</key>
                <string>http://weibo.com/gx110</string>
                <key>Favorite</key>
                <real>3.5</real>
                <key>Category</key>
                <string>苹果咨询</string>
                <key>index</key>
                <string>3</string>
                <key>authorityname</key>
                <string>renwushenhe</string>
            </dict>
            <dict>
                <key>Name</key>
                <string>任务跟踪</string>
                <key>Image</key>
                <string>home-black.png</string>
                <key>WebSite</key>
                <string>http://weibo.com/kaifulee</string>
                <key>Favorite</key>
                <real>3.5</real>
                <key>Category</key>
                <string>IT名人</string>
                <key>index</key>
                <string>6</string>
                <key>authorityname</key>
                <string>renwugenzong</string>
            </dict>
        </array>
    </plist>

